body {
  font-family: 'Segoe UI', sans-serif;
  background: #F4F8FB;
}

/* NAVBAR */
.navbar {
  background: white;
  border-bottom: 1px solid #ddd;
}

.navbar h1 {
  color: #0A66C2;
  font-size: 24px;
}

/* HERO */
.hero {
  height: 400px;
  background: url("../images/hospital/hero-4.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* BUTTON */
.btn-primary {
  background: #0A66C2;
  border: none;
}

/* SECTION */
section {
  margin-top: 50px;
}